In [176]:
import pandas as pd
import csv

In [6]:
df = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/contaminantes/contaminantes_2024.csv', encoding='latin1-')

In [7]:
df

                        date id_station id_parameter  value  unit
0        2024-01-01 01:00:00        ACO           CO    NaN    15
1        2024-01-01 01:00:00        ACO           NO    NaN     1
2        2024-01-01 01:00:00        ACO          NO2    NaN     1
3        2024-01-01 01:00:00        ACO          NOX    NaN     1
4        2024-01-01 01:00:00        ACO           O3    NaN     1
...                      ...        ...          ...    ...   ...
2430670  2024-12-31 23:00:00        GAM          NO2    NaN     1
2430671  2024-12-31 23:00:00        GAM           O3    NaN     1
2430672  2024-12-31 23:00:00        GAM         PM10    NaN     2
2430673  2024-12-31 23:00:00        GAM        PM2.5    NaN     2
2430674  2024-12-31 23:00:00        GAM         PMCO    NaN     2

[2430675 rows x 5 columns]

In [177]:
df1= pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/contaminantes/contaminantes_2016.csv', encoding='latin-1')
df2 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/contaminantes/contaminantes_2017.csv', encoding='latin-1')
df3 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/contaminantes/contaminantes_2018.csv', encoding='latin-1')
df4 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/contaminantes/contaminantes_2019.csv', encoding='latin-1')
df5 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/contaminantes/contaminantes_2020.csv', encoding='latin-1')
df6 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/contaminantes/contaminantes_2021.csv', encoding='latin-1')
df7 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/contaminantes/contaminantes_2022.csv', encoding='latin-1')
df8 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/contaminantes/contaminantes_2023.csv', encoding='latin-1')
df9 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/contaminantes/contaminantes_2024.csv', encoding='latin-1')

In [178]:
## hacer un concat de los dataframes
df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)

In [179]:
df['date'] =  df['date'].str.extract(r'(\d{2}/\d{2}/\d{4})')

In [180]:
##tengo date así 01/01/2016 01:00  quiero solo la fecha

df7['date'] = pd.to_datetime(df7['date'])

# Luego, extrae solo la parte de la fecha
df7['date'] = df7['date'].dt.date

df8['date'] = pd.to_datetime(df8['date'])

# Luego, extrae solo la parte de la fecha
df8['date'] = df8['date'].dt.date

In [181]:
df9['date'] = pd.to_datetime(df9['date'], format='mixed')

df9['date'] = df9['date'].dt.date

In [182]:
##cambiar el df7, df8 y df9 el date de 2024-01-01 a 01/01/2024
df7['date'] = pd.to_datetime(df7['date'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')
df8['date'] = pd.to_datetime(df8['date'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')
df9['date'] = pd.to_datetime(df9['date'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

In [183]:
df= pd.concat([df, df7, df8, df9], ignore_index=True)

In [186]:
##agrupar por id_parameter y sacar max, min, mean, std, count
aux= df.groupby(['id_parameter']).agg({'value': ['max', 'min', 'mean', 'std', 'count']}).reset_index()

In [188]:
aux.columns = ['id_parameter', 'max', 'min', 'mean', 'std', 'count']

In [190]:
aux.to_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/final/descriptiva_contaminantes.csv', index=False, encoding='latin-1')

In [202]:
##redondear a 2 decimales todas las columnas
aux['max'] = aux['max'].round(2)
aux['min'] = aux['min'].round(2)
aux['mean'] = aux['mean'].round(2)
aux['std'] = aux['std'].round(2)
aux['count'] = aux['count'].round(2)

In [203]:
aux

  id_parameter    max   min   mean    std    count
0           CO   10.0 -0.04   0.45   0.40  1807187
1           NO  688.0  0.00  13.96  27.43  1561090
2          NO2  150.0  0.00  22.54  13.26  1731570
3          NOX  755.0  0.00  36.89  35.62  1561111
4           O3  210.0  0.00  30.85  26.56  2100493
5         PM10  982.0  1.00  42.10  29.12  1262412
6        PM2.5  698.0  1.00  21.06  14.14  1071303
7         PMCO  763.0  1.00  19.51  16.59   686772
8          SO2  400.0  0.00   3.50   7.09  1841342

In [135]:
##hacer un groupby de la fecha, el id_parameter y el value y sacar el max, min y mean
df = df.groupby(['date', 'id_parameter']).agg({'value': ['max', 'min', 'mean']}).reset_index()

In [136]:
df.columns = ['date', 'id_parameter', 'max_contaminantes', 'min_contaminantes', 'mean_contaminantes']

In [137]:
df

,date,id_parameter,max_contaminantes,min_contaminantes,mean_contaminantes
0,01/01/2016,CO,2.5,0.2,0.962269
1,01/01/2016,NO,76.0,0.0,13.831140
2,01/01/2016,NO2,63.0,6.0,29.712719
3,01/01/2016,NOX,120.0,6.0,43.567982
4,01/01/2016,O3,133.0,1.0,33.471014
...,...,...,...,...,...
29587,31/12/2024,O3,118.0,1.0,37.928214
29588,31/12/2024,PM10,224.0,5.0,61.698413
29589,31/12/2024,PM2.5,105.0,3.0,30.035599
29590,31/12/2024,PMCO,63.0,7.0,22.487952
29591,31/12/2024,SO2,10.0,0.0,2.353053

In [191]:
df11= pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/meteorologia/meteorologia_2016.csv', encoding='latin-1')
df12 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/meteorologia/meteorologia_2017.csv', encoding='latin-1')
df13 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/meteorologia/meteorologia_2018.csv', encoding='latin-1')
df14 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/meteorologia/meteorologia_2019.csv', encoding='latin-1')
df15 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/meteorologia/meteorologia_2020.csv', encoding='latin-1')
df16 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/meteorologia/meteorologia_2021.csv', encoding='latin-1')
df17 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/meteorologia/meteorologia_2022.csv', encoding='latin-1')
df18 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/meteorologia/meteorologia_2023.csv', encoding='latin-1')
df19 = pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/meteorologia/meteorologia_2024.csv', encoding='latin-1')

In [192]:
df_met= pd.concat([df11, df12, df13, df14, df15, df16,df17], ignore_index=True)
df_met['date'] =  df_met['date'].str.extract(r'(\d{2}/\d{2}/\d{4})')

In [193]:
df_met

               date id_station id_parameter  value  unit
0        01/01/2016        ACO           RH   73.0     6
1        01/01/2016        ACO          TMP   14.1     5
2        01/01/2016        ACO          WDR   35.0     4
3        01/01/2016        ACO          WSP    2.0     3
4        01/01/2016        AJU           RH   88.0     6
...             ...        ...          ...    ...   ...
6576403  31/12/2022        LAA          WSP    0.8     3
6576404  31/12/2022        FAR          WDR  115.0     4
6576405  31/12/2022        FAR          WSP    1.3     3
6576406  31/12/2022        SAC          WDR  129.0     4
6576407  31/12/2022        SAC          WSP    3.7     3

[6576408 rows x 5 columns]

In [194]:
df18['date'] = pd.to_datetime(df18['date'], format='mixed')

df18['date'] = df18['date'].dt.date

df19['date'] = pd.to_datetime(df19['date'], format='mixed')

df19['date'] = df19['date'].dt.date

In [195]:
df18['date'] = pd.to_datetime(df18['date'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')
df19['date'] = pd.to_datetime(df19['date'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

In [196]:
df_final_met= pd.concat([df_met, df18, df19], ignore_index=True)

In [197]:
aux2= df_final_met.groupby(['id_parameter']).agg({'value': ['max', 'min', 'mean', 'std', 'count']}).reset_index()
aux2.columns = ['id_parameter', 'max', 'min', 'mean', 'std', 'count']
aux2.to_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/final/descriptiva_meteorologia.csv', index=False, encoding='latin-1')

In [200]:
##drop na

aux2= aux2.dropna()

In [201]:
aux2

  id_parameter    max  min        mean         std    count
1           RH  102.0  1.0   54.060511   22.100828  1720455
2          TMP   36.0 -6.2   16.737283    5.181298  1677727
3          WDR  360.0  0.0  180.817742  117.458153  1794968
4          WSP   24.8  0.0    2.283298    1.548419  1794934

In [144]:
df_final_met  = df_final_met.groupby(['date', 'id_parameter']).agg({'value': ['max', 'min', 'mean']}).reset_index()

In [145]:
df_final_met.columns = ['date', 'id_parameter', 'max_meteorologia', 'min_meteorologia', 'mean_meteorologia']

In [146]:
df_final_met

,date,id_parameter,max_meteorologia,min_meteorologia,mean_meteorologia
0,01/01/2016,PBa,NaN,NaN,NaN
1,01/01/2016,RH,100.0,29.0,64.463768
2,01/01/2016,TMP,25.0,2.2,15.516486
3,01/01/2016,WDR,360.0,1.0,175.391304
4,01/01/2016,WSP,6.3,0.2,1.846014
...,...,...,...,...,...
15708,31/12/2023,WSP,6.8,0.0,1.682917
15709,31/12/2024,RH,99.0,10.0,40.377604
15710,31/12/2024,TMP,26.3,-1.6,13.442857
15711,31/12/2024,WDR,359.0,2.0,194.730263
15712,31/12/2024,WSP,12.8,0.1,3.509649

In [147]:
df_nc= pd.read_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/raw/no_circula/no_circula.csv', encoding='latin-1')

In [148]:
df_nc['Fecha_Activacion'] = pd.to_datetime(df_nc['Fecha_Activacion'], format='mixed')

df_nc['Fecha_Activacion'] = df_nc['Fecha_Activacion'].dt.date

df_nc['Fecha_Desactivacion'] = pd.to_datetime(df_nc['Fecha_Desactivacion'], format='mixed')

df_nc['Fecha_Desactivacion'] = df_nc['Fecha_Desactivacion'].dt.date

In [150]:
df_nc

,AÃ±o,Contaminante,Zona,Valor_Activacion,Unidad,Estacion,Dia_Semana,Fecha_Activacion,Hora_Activacion,Fase,Valor_Maximo,Estacion_Maximo,Fecha_Maximo,Hora_Maximo,Fecha_Desactivacion,Hora_Desactivacion,Valor_Desactivacion
0,2024,Ozono,SO,160,Âµg/mÂ³o ppb,Centro de Ciencias de la AtmÃ³sfera,Jueves,2024-05-30,15:00,I,160,Centro de Ciencias de la AtmÃ³sfera,30/05/2024,15:00,2024-05-31,15:00,120
1,2024,Ozono,SE,174,Âµg/mÂ³o ppb,UAM-Xochimilco,SÃ¡bado,2024-05-25,14:00,I,174,UAM-Xochimilco,25/05/2024,14:00,2024-05-26,17:00,117
2,2024,Ozono,CE,158,Âµg/mÂ³o ppb,Benito JuÃ¡rez,MiÃ©rcoles,2024-05-22,14:00,I,170,UAM-Xochimilco,22/05/2024,15:00,2024-05-24,18:00,105
3,2024,Ozono,SO,160,Âµg/mÂ³o ppb,Centro de Ciencias de la AtmÃ³sfera,SÃ¡bado,2024-05-18,14:00,I,165,Centro de Ciencias de la Atmosfera,18/05/2024,15:00,2024-05-19,15:00,120
4,2024,Ozono,SE,156,Âµg/mÂ³o ppb,UAM-Iztapalapa,Lunes,2024-05-13,15:00,I,181,CuautitlÃ¡n,14/05/2024,17:00,2024-05-16,17:00,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,1991,Ozono,SO,340,INDICE,Pedregal,MiÃ©rcoles,1991-10-23,14:00,II,340,Pedregal,23/10/1991,13:00,1991-10-25,16:00,179
93,1991,Ozono,SO,267,INDICE,Plateros,MiÃ©rcoles,1991-06-03,12:00,I,315,ENEP AcatlÃ¡n,07/03/1991,12:00,1991-10-03,14:00,162
94,1991,Ozono,CE,249,INDICE,Merced,SÃ¡bado,1991-02-02,13:00,I,249,Merced,02/02/1991,13:00,1991-04-02,16:00,184
95,1988,Ozono,SO,298,INDICE,PED/PLA,Jueves,1988-02-25,12:00,I,298,PED/PLA,25/02/1988,13:00,1988-02-28,12:00,196
96,1988,Ozono,SO,233,INDICE,PED/PLA,MiÃ©rcoles,1988-03-02,12:00,I,266,PED/PLA,04/02/1988,13:00,1988-05-02,12:00,142

In [151]:
df_nc['Fecha_Activacion'] = pd.to_datetime(df_nc['Fecha_Activacion'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

df_nc['Fecha_Desactivacion'] = pd.to_datetime(df_nc['Fecha_Desactivacion'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

In [155]:
df_nc[['Fecha_Activacion', 'Fecha_Desactivacion']]

   Fecha_Activacion Fecha_Desactivacion
0        30/05/2024          31/05/2024
1        25/05/2024          26/05/2024
2        22/05/2024          24/05/2024
3        18/05/2024          19/05/2024
4        13/05/2024          16/05/2024
5        05/09/2024          05/10/2024
6        05/03/2024          05/04/2024
7        30/04/2024          05/01/2024
8        23/03/2024          24/03/2024
9        03/06/2024          03/07/2024
10       22/02/2024          25/02/2024
11       01/01/2024          01/01/2024
12       25/03/2023          27/03/2023
13       23/02/2023          24/02/2023
14       01/01/2023          01/01/2023
15       11/12/2022          14/11/2022
16       06/07/2022          06/08/2022
17       20/05/2022          21/05/2022
18       05/05/2022          05/06/2022
19       05/02/2022          05/04/2022
20       29/03/2022          30/03/2022
21       25/12/2021          26/12/2021
22       06/08/2021          06/08/2021
23       26/04/2021          27/04/2021
24       21/04/2021          22/04/2021
25       11/11/2020          11/12/2020
26       25/12/2019          26/12/2019
27       14/05/2019          17/05/2019
28       16/04/2019          18/04/2019
29       04/10/2019          04/11/2019
30       30/03/2019          31/03/2019
31       01/01/2019          01/02/2019
32       25/12/2018          26/12/2018
33       06/06/2018          06/07/2018
34       14/12/2017          15/12/2017
35       22/05/2017          24/05/2017
36       15/05/2017          21/05/2017
37       01/06/2017          01/07/2016
38       08/11/2016          08/12/2016
39       07/08/2016          07/09/2016
40       31/05/2016          06/01/2016
41       27/05/2016          28/05/2016
42       24/05/2016          24/05/2016
43       20/05/2016          21/05/2016
44       14/05/2016          15/05/2016
45       05/02/2016          05/05/2016
46       04/05/2016          04/06/2016
47       14/03/2016          17/03/2016
48       01/01/2005          01/02/2005

In [154]:
df_nc=df_nc.head(49)

In [156]:
# Expandimos las fechas por fila
rows = []
for _, row in df_nc.iterrows():
    start = row['Fecha_Activacion'] 
    end = row['Fecha_Desactivacion']
    fechas = pd.date_range(start=start, end=end)
    for fecha in fechas:
        rows.append({'Fecha_Intermedia': fecha})

# Creamos el nuevo DataFrame
df_resultado = pd.DataFrame(rows)

In [161]:
df_resultado.columns = ['Doble No Circula']

In [162]:
df_resultado['Doble No Circula'] = pd.to_datetime(df_resultado['Doble No Circula'], format='mixed')

df_resultado['Doble No Circula'] = df_resultado['Doble No Circula'].dt.date

In [163]:
df_resultado['Doble No Circula'] = pd.to_datetime(df_resultado['Doble No Circula'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

In [165]:
df_resultado

    Doble No Circula
0         30/05/2024
1         31/05/2024
2         25/05/2024
3         26/05/2024
4         22/05/2024
..               ...
108       15/03/2016
109       16/03/2016
110       17/03/2016
111       01/01/2005
112       02/01/2005

[113 rows x 1 columns]

In [ ]:

# Crea la columna que indica si hay activación de doble no circula
df['activacion_doble_no_circula'] = df['date'].isin(df_resultado['Doble No Circula']).astype(int)

print(df[['date', 'activacion_doble_no_circula']].head())

         date  activacion_doble_no_circula
0  01/01/2016                            0
1  01/01/2016                            0
2  01/01/2016                            0
3  01/01/2016                            0
4  01/01/2016                            0

In [168]:
df

,date,id_parameter,max_contaminantes,min_contaminantes,mean_contaminantes,activacion_doble_no_circula
0,01/01/2016,CO,2.5,0.2,0.962269,0
1,01/01/2016,NO,76.0,0.0,13.831140,0
2,01/01/2016,NO2,63.0,6.0,29.712719,0
3,01/01/2016,NOX,120.0,6.0,43.567982,0
4,01/01/2016,O3,133.0,1.0,33.471014,0
...,...,...,...,...,...,...
29587,31/12/2024,O3,118.0,1.0,37.928214,0
29588,31/12/2024,PM10,224.0,5.0,61.698413,0
29589,31/12/2024,PM2.5,105.0,3.0,30.035599,0
29590,31/12/2024,PMCO,63.0,7.0,22.487952,0
29591,31/12/2024,SO2,10.0,0.0,2.353053,0

In [172]:
df[(df['date']== '06/03/2024') | (df['date']== '08/03/2024')]

,date,id_parameter,max_contaminantes,min_contaminantes,mean_contaminantes,activacion_doble_no_circula
5094,06/03/2024,CO,4.07,0.01,0.645966,1
5095,06/03/2024,NO,247.00,0.00,20.753346,1
5096,06/03/2024,NO2,92.00,5.00,32.247863,1
5097,06/03/2024,NOX,319.00,6.00,53.114723,1
5098,06/03/2024,O3,179.00,0.00,42.553073,1
5099,06/03/2024,PM10,208.00,9.00,60.603730,1
5100,06/03/2024,PM2.5,100.00,2.00,23.073604,1
5101,06/03/2024,PMCO,77.00,10.00,33.263538,1
5102,06/03/2024,SO2,18.00,0.00,2.201695,1
7038,08/03/2024,CO,4.07,0.00,0.623103,0
7039,08/03/2024,NO,332.00,0.00,27.708812,0
7040,08/03/2024,NO2,119.00,1.00,30.578415,0
7041,08/03/2024,NOX,378.00,1.00,57.798851,0
7042,08/03/2024,O3,113.00,0.00,35.044506,0
7043,08/03/2024,PM10,250.00,3.00,45.478610,0
7044,08/03/2024,PM2.5,48.00,1.00,16.250000,0
7045,08/03/2024,PMCO,101.00,1.00,23.060345,0
7046,08/03/2024,SO2,16.00,0.00,1.358844,0

In [173]:
df_final_met['activacion_doble_no_circula'] = df_final_met['date'].isin(df_resultado['Doble No Circula']).astype(int)

In [174]:
df_final_met[(df_final_met['date']== '06/03/2024') | (df_final_met['date']== '08/03/2024')]

,date,id_parameter,max_meteorologia,min_meteorologia,mean_meteorologia,activacion_doble_no_circula
2709,06/03/2024,RH,90.0,11.0,31.446188,1
2710,06/03/2024,TMP,30.5,1.2,18.611529,1
2711,06/03/2024,WDR,360.0,0.0,147.880435,1
2712,06/03/2024,WSP,15.4,0.5,4.950000,1
3741,08/03/2024,RH,69.0,1.0,17.104545,0
3742,08/03/2024,TMP,33.6,1.9,20.389877,0
3743,08/03/2024,WDR,360.0,0.0,184.350000,0
3744,08/03/2024,WSP,15.9,0.5,4.873056,0

In [175]:
##mandar los df a /Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/final

df.to_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/final/contaminantes.csv', index=False, encoding='latin-1')
df_final_met.to_csv('/Users/santiagoolvera/Desktop/ITAM/pols_pub2/HoyNoCircula/Datos/final/meteorologia.csv', index=False, encoding='latin-1')